.pagination {
    column-gap: 8px;
}
.pagination li{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 12px;
    transition: all 0.3s ease-in-out 0s;
    cursor:pointer;
}
.pagination li.active {
    background-color: #101010;

}
.pagination li span{
    padding: 16px 16px;
    color: #101010;
    font-size: 16px;
    line-height: 8px;
    transition: all 0.3s ease-in-out 0s;
}
.pagination li.active span{
    color: white;
}
.pagination li:focus,
.pagination li:hover{
    background-color: #101010;
}
.pagination li:focus .page-link,
.pagination li:hover .page-link {
    color: white;
}

